@page "/ventasReport/{id:int}"
@inject Contexto ctx
@using Proyect.Data
@using Microsoft.EntityFrameworkCore;


<hr />
<h2>Reporte</h2>

<h4>CODIGO: @oVentas.Id </h4>

<h4>CANTIDAD: @oVentas.Cantidad </h4>

<h4>DESCRIPCION: @oVentas.Description </h4>

<h4>FECHA DE VENTA: @oVentas.FechaVenta </h4>

<h4>PRECIO TOTAL: @oVentas.precioVenta </h4>
<hr />

<button class="btn btn-warning" onclick="imprimir()">Imprimir</button>

<script>site.js</script>

@code {
    [Parameter]
    public int id { get; set; }

    Ventas oVentas = new Ventas();

    protected override async Task OnInitializedAsync()
    {
        oVentas = await ctx.VentasDB.FirstOrDefaultAsync(x => x.Id == id);
    }

}
