@page "/ver_ventas"
@inject NavigationManager Nav
@inject Contexto ctx
@using Microsoft.EntityFrameworkCore
@inject EstadoCompartido Estado
@inject IJSRuntime jsx
@using Proyect.Data
@using Proyect.Components.Modelos

<PageTitle>Inventario</PageTitle>

<div class="container">
    <div class="row mt-3">
<h3 class="col">Ventas</h3>
    <div class="text-end mb-3 mt-3 col">
        <button class="btn btn-primary" @onclick="AgregarNuevo">Agregar Nuevo</button>
    </div>
    </div>
    

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Productos</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Precio venta</th>
                <th scope="col">Descripcion</th>
                <th scope="col"></th>
                <th scope="col"><i class="bi bi-receipt" style="color: #f25d0e; font-size: 25px;"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in ListaVentas)
            {

                <tr>
                    <td>@items.Id</td>
                    <td>@items.Inventario.Name</td>
                    <td>@items.Cantidad</td>
                    <td>@items.FechaVenta.ToString("yyyy-MM-dd")</td>
                    <td>@items.precioVenta</td>
                    <td>@items.Description</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => Editar(items.Id)">Editar</button>
                        <button class="btn btn-danger" @onclick="() => Borrar(items.Id)" >Borrar</button>
                    </td>
                    <td>
                        <a style="text-decoration: none;"
                        @onclick="()=> Export(items.Id)"><i class="bi bi-plus-square-fill" style="color: #055D5E; font-size: 15px;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

</div>

@code {
    List<Ventas> ListaVentas = new List<Ventas>();

    private int link; 

    async Task Export(int id){

        Estado.valor = id;
        Nav.NavigateTo("ventasReport");
    }

    private void AgregarNuevo()
    {
        Nav.NavigateTo("/ventasFormulario/editar/0");
    }

    public void Editar(int id)
    {
        Nav.NavigateTo($"/ventasFormulario/editar/{id}");
    }

    //Cargar a lista

    protected override async Task OnInitializedAsync()
    {
        ListaVentas = await ctx.VentasDB.ToListAsync();
    }

    //Borrar

    protected async Task Borrar(int id)
    {
        var listaVentas = await ctx.VentasDB.FindAsync(id);
        if (listaVentas != null)
        {
            ctx.VentasDB.Remove(listaVentas);
            await ctx.SaveChangesAsync();

            ListaVentas.Remove(listaVentas);

            
            StateHasChanged();
        }
    }
}

