@page "/"
@page "/ListaInventario"
@inject NavigationManager Nav
@using Microsoft.EntityFrameworkCore
@inject Contexto ctx
@using Proyect.Data



<PageTitle>FactuPro</PageTitle>

<div class="container">
    <div class="row mt-3">
        <h3 class="mt-3 col" style="font-weight: bold;">Inventario</h3>
        <div class="text-end mb-3 mt-3 col">
            <button class="btn btn-primary" @onclick="AgregarNuevo">Agregar</button>
        </div>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto:</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Fecha de caducidad</th>
                <th scope="col">Precio Base</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Editar/Borrar</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var item in ListaInventario)
            {
                <tr>
                    <td>@MostrarIndex()</td>
                    <td>@item.Name</td>
                    <td>@item.Stock</td>
                    <td>@item.Estado</td>
                    <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
                    <td>@item.FechaCaducidad</td>
                    <td>@item.BasePrice</td>
                    <td>@item.Description</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => Editar(item.Id)">Editar</button>
                        <button class="btn btn-danger" @onclick="() => Borrar(item.Id)">Borrar</button>
                    </td>
                    
                </tr>
            }

        </tbody>
    </table>

</div>

@code {
    int index = 1;

    public List<Inventory> ListaInventario = new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        ListaInventario = await ctx.InventoryDB.ToListAsync();
    }

    private void AgregarNuevo()
    {
        Nav.NavigateTo("/inventarioForm");
    }

    public void Editar(int id)
    {
        Nav.NavigateTo($"/inventarioForm/{id}");
    }


    protected async Task Borrar(int id)
    {
        var listaInventario = await ctx.InventoryDB.FindAsync(id);
        if (listaInventario != null)
        {
            ctx.InventoryDB.Remove(listaInventario);
            await ctx.SaveChangesAsync();

            ListaInventario.Remove(listaInventario);


            StateHasChanged();
        }
    }


    private int MostrarIndex()
    {
        return index++;
    }
 
    

}
